.whole_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list_item{
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    width: 400px;
    gap: 30px;
}

.list_item img{
    width: 150px;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/