
<div class="head">
    <img src="../../assets/logo-no-background.png" alt="logo"  [routerLink]="['/home']">

    <nav>
        <ul>
            <li><app-categories></app-categories></li>
            <li><a routerLink="/about">About us</a></li>
            <li><a routerLink="/login"> Login </a></li>
            <li><a routerLink="/signup"> Signup </a></li>
            <!-- <li *ngIf="" id="prof"><a routerLink="/profile"> Profile </a></li>
            <li *ngIf="" id="cart" ><a routerLink="/cart"> Cart </a></li>
            <li *ngIf="" ><img src="../../assets/loggin.jpg" alt="login_logo" [routerLink]="['/profile']"></li> -->
        </ul>
    
    </nav>
    
</div>

