body{
    padding: 0;
    margin: 0;
    background: #b3b1b1;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

header{
    background: #fff;
    padding: 20px 80px 20px 80px;
    overflow: hidden;
    font-size: 13px;
    font-weight: lighter;
}

nav{
    display: flex; /*default row*/
    /* justify-content: space-between; main axis */
    align-items: center; /*cross axis*/
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: underline;
}

.micro_logo img{
    width: 110px;
}

.right_nav img{
    width: 20px;
}

.left_nav{
    margin-left: 40px;
    margin-right: 450px;
}

.left_nav a{
    
    margin-right: 15px;
}

.right_nav{
    display: flex;
    align-items: center;
}

.right_nav a{
    margin-left: 10px;
}

.right_nav select{
    border: none;
}

.banner_img{
    position: absolute;
    z-index: 0;
}

.text{
    position: absolute;
    left: 150px;
    top: 150px;
    z-index: 1;
    width: 420px;
    color: white;
}

.text h1{
    color: white;
}

.text button{
    color: white;
    background-color: blue;
}